/* NAV STYLES */
.nav-wrapper{
    height: 100px;
    padding: 0 50px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    justify-content:space-between;
    align-items: center;
}

.nav-wrapper > .logo img{
    width: 200px;
    margin-right: 10px;
}

/* Left Column */
.left-column{
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
}

.left-column > .explore-text h4{
    color:#d5ac5b;
    font-weight: 400;
    margin: 5px 0px;
}

.left-column > .links-dropdown-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.left-column > .links-dropdown-wrapper > .nav-links-wrapper{
    display: flex;
    gap: 15px;
}

.left-column > .links-dropdown-wrapper > .nav-links-wrapper > .nav-link a{
    color: white;
    font-weight: 800;
    text-decoration: none;
    transition: 0.5s;
}

.left-column > .links-dropdown-wrapper > .nav-links-wrapper > .nav-link a:hover{
    color:cornflowerblue;
}

.left-column > .links-dropdown-wrapper > .dropdown-menu a{
    display: flex;
    color: lightgray;
    text-decoration: none;
    gap: 7px;
    font-size: .95em;
    font-weight: 400;
}

.left-column > .links-dropdown-wrapper > .dropdown-menu > a > .dropdown-text{
    color: lightgray;
}

/* Right Column */
.right-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.5em;
}

.right-column > .nav-button button{
    width: 110px;
    height: 60px;
    background-color: #36383f;
    color:white;
    font-size: 0.75em;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.3s;
}

.right-column > .nav-button button:active{
    background-color: #242529;
}

.right-column > .nav-button button i{
    color: #4ac977;
    font-size: 1.1em;
}

.right-column > .search-icon i:hover{
transition: 0.5s;
}

.right-column > .search-icon i:hover{
    color: cornflowerblue;

}
